*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(135deg,#8855E9 0%, #5D6BE6 100%);
}

.wrapper{
    position: absolute;
    visibility: hidden;
    background: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
}

.wrapper .menu{
padding: 12px 10px;
}

.content .item{
    list-style-type: none;
    height: 50px;
   cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.content .item:hover{
    background: #f2f2f2;
}

.content .item span{
    margin-left: 5px;
    font-size: 19px;
}

.content .share{
    justify-content: space-between;
    position: relative;
}

.content .Settings{
    border-top: 1px solid #ccc;
}

.share .share-item{
    position: absolute;
    background: #fff;
    width: 200px;
    right: -200px;
    top:-35px;
    border-radius: 5px;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: o.5s ease;
}

.share:hover .share-item{
    opacity: 1;
    pointer-events: auto;
}